:root {
  --primary-color: #383838;
  --secondary-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 60px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body.home {
  background-image: url(/images/Purple-Transparent-Home-Page.png);
}
body.about {
  background-image: url(/images/Blue-Green-Yellow-shape.png);
}
body.work {
  background-image: url(/images/Purple-Pink-Yellow-shape.png);
}

#emoji-btn {
  cursor: pointer;
  transition: 0.5s;
  font-size: 48px;
  border: none;
}

#emoji-btn:hover {
  transform: scale(1.23);
}

h1,
h2,
h3,
h1.mobile-h1 {
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  line-height: 95%;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.7;
}

p {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
.profile-photo {
  border-radius: 50%;
  border: 10px solid #ffffff;
  box-shadow: 0 0 0 10px #d0f0ff, 0 0 0 15px #ffffff;
  max-width: 100%;
  height: auto;
}
.navigation-links {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.navigation-links a {
  margin: 20px;
  border-radius: 8px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  background-color: #ffffff;
  border: 2px solid var(--primary-color);
}

.navigation-links a:hover {
  background-color: #f0f0f0;
  color: black;
  opacity: 0.9;
}

.about-paragraphs,
.skills,
.work-paragraphs {
  margin: 30px 0;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 3px;
  border-color: #383838;
}

.about-paragraphs p {
  margin: 10px;
}

.skills p {
  margin: 10px;
  line-height: 170%;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.logo {
  max-width: 40px;
}

.bold-text {
  font-weight: 600;
}

.custom-btn {
  width: 280px !important;
  border-radius: 20px !important;
}

.mobile-h1 {
  font-size: 48px;
}

.regular-h1 {
  font-size: 96px;
}

.home-page p {
  font-size: 26px;
}

.react-photo {
  border-radius: 8px;
  border: 6px solid #ffffff;
}
@media (min-width: 800px) {
  .mobile-h1 {
    display: none;
  }
  .regular-h1 {
    display: block;
  }
}

@media (max-width: 800px) {
  .regular-h1 {
    display: none;
  }
}

.col-lg-6 {
  margin-bottom: 40px;
}

@media (min-width: 801px) {
  .col-lg-6:last-child p {
    margin-top: 50px;
  }
}

.work-paragraphs p {
  background: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .work-paragraphs .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
