:root {
    --primary-color: #6479cc;
    --text-bg-color: #e3e3e3;
    --box-shadow: 10px 10px 10px rgba(0,0,0, 0.6);
    }
    
h1,h2 {
        color: var(--primary-color);
    }

h1 {
        font-size: 96px;
      }
    
/* unvisited link*/
a {
    color:blue;
    text-decoration: none;
}
    
/* mouse over link*/
a:hover{
    color:red;
    text-decoration: underline;
}
    
/* visited link*/
a:visited{
}
    
/* selected link*/
a:active{
}
    
#contact {
    font-size:30px;
}
    
#email {
    font-size:16px;
}
    
#faq {
    color: var(--primary-color);
    font-size:30px;
    font-weight:bold; 
}
    
#paragraph1,
#paragraph2,
#paragraph3,
#paragraph4 {
    background: var(--text-bg-color);
    font-size:40px;
    box-shadow: var(--box-shadow) ;
}

.list {
    display: flex; 
    justify-content: space-evenly;
}

.foods {
    border: 1px solid red;
    padding: 20px;
}
    